
html, body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.thumbnail {
  width: 64px;
  height: 64px;
}

.levelSelectOption {
  width: 200px;
  height: 67px;
  background: lightgrey;
  padding: 5px 5px;
}

.layersContainer {
  position: relative;
  width: 400px;
  height: 400px;
  margin: 0;
  padding: 0;
}

.layer {
  position: absolute;
  top: 0;
  left: 0;
  width: 400px;
  height: 400px;
}

.layerCanvas, .inputLayerCanvas {
  position: absolute;
  top: 0;
  left: 0;
}

.inputLayerCanvas {
  border: 1px solid black;
  //cursor: none;
}
